extends ./page.jade

//- --
//- --
//- --

block prepend head
    if !page.metadata.description
        - var pageDescription = retrievePageDescriptionFromMarkdown(page)

    //- --

    if !page.metadata.image
        - var pageImage = retrievePageImageFromMarkdown(page)

//- --
//- --
//- --

block content
    block post-title
        h1.title=page.title
        div.date=page.metadata.date
        div.author='by ' + page.metadata.author

    //- --

    block post-content
        div#post-content
            !=page.html

        if page.parent['comments.json']
            div#post-comments
                p: em Archived Comments

                for comment in page.parent['comments.json'].metadata
                    div.post-comment
                        img.post-comment-avatar(src="//gravatar.com/avatar/#{comment.avatar}?s=256&d=retro", alt=comment.author)
                        span.post-comment-author=comment.author

                        div.post-comment-content
                            !=comment.content
//- --
