extends ./page.jade

//- --
//- --
//- --

block prepend head
    if !page.metadata.description
        - var pageDescription = retrievePageDescriptionFromMarkdown(page)

    //- --

    if !page.metadata.image
        - var pageImage = retrievePageImageFromMarkdown(page)

//- --
//- --
//- --

block content
    block post-title
        h1.title=page.title
        div=page.metadata.date

    //- --

    block post-content
        div#post-content
            !=page.html

        if page.parent['comments.json']
            div#post-comments
                for comment in page.parent['comments.json'].metadata
                    .post-comment
                        img(src="//gravatar.com/avatar/#{comment.avatar}?s=256&d=retro", alt=comment.author)
                        span=comment.author

                        div.post-comment-content
                            !=comment.content
//- --
